header {
    width: 100%;
    height: 10vh;
    display : flex;
    align-items: center;
    justify-content: space-between;

}
.logo svg {
    max-width:100px;
    height: 10vh;
}
.menu{
    margin-left: 5px;
    display: none;
    width: 20px;
    height: 20px;
    align-items: center;
    cursor: pointer;
}
.menu span{
    display: block;
    height: 2px;
    width: 20px;
    background-color: #222;
    box-shadow: 0px 6px #222 , 0px -6px #222;
    transition:  transform 0.3s ease-in-out;
}
.menu.active span {
    transform: rotate(90deg);
}
nav ul {
    display: flex;
    list-style: none;
    animation: showRight 0.3s ease-in-out forwards;
}
nav li a {
    display: block;
    text-decoration: none;
    padding: 5px 0px;
    margin-left: 20px;
    border-bottom: 2px solid transparent;
    font-size: 0.9rem;
    font-weight: 600;
    color:#161616;
    transition: border ease-in-out 0.3s;
}
nav li a:hover {
    border-bottom:2px solid #ca3b3a;
}
.card-search {
    display:flex;
    align-items: center;
}
.card-search input {
    color:#161616;
    font-size: 0.9rem;
    border: none;
    width: 200px;
    border-radius: 5px;
    padding: 5px 5px;
    outline: none;
    background-color: transparent;
}
.card-search svg {
    color:#3f3f3f;
    font-weight: 500;
    max-width: 25px;
    height: 25px;
    margin-right: 15px;
    cursor: pointer;
}
@keyframes showRight {
    from {
        opacity: 0;
        transform: translate3d(30px,0px,0px );
        transition: 0.5s ease-in-out;
    }
    to {
        opacity: 1;
        transition: 0.5s ease-in-out;
        transform: translate3d(0px,0px,0px);
    }
}
@media (min-width: 500px) and (max-width: 850px){
    .card-search input {
        width: 150px
    }
    .card-search svg{
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 499px){
    header {
        padding: 0px 10px;
        height: 80px;
    }
    .logo svg {
        max-width:80px;
    }
    .menu{
        display: flex;
    }
    nav {
        display: none;
    }
    nav.active {
        display: block;
    }
    nav ul {
        display: block;
        position: absolute;
        padding: 10px 30px;
        background-color: #ca3b3a;
        border-radius: 10px;
        right: 0px;
        top: 80px;
    }
    nav li { 
        text-align: center;
    }    
    nav li a {
        display: inline-block;
        font-size: 1rem;
        margin: 0px 0px 15px 0px;
    }
    nav li a:hover {
        border-bottom:2px solid #222;
    }
    .card-search input {
        width: 80px
    }
    .card-search svg{
        width: 20px;
        height: 20px;
    }
}